.commande-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .commande-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
  }
  
  .delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  
  .temps-cuisson,
  .prix-plat,
  .prix-boisson,
  .prix-total {
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
